<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="aYo4u Restful Webservice Conversion Calculator"/>
	<title>aYo4u Restful WebService for Metric to Imperial Conversion</title>
</head>
<body>
<h2>Metric to Imperial Conversion Application</h2>
<p>This application will convert metric to imperial and vice versa. </p>

<p>The API will cater for at least 5 conversions </p>


</body>
</html>